{{#each friends}}
    <li class="friend">
        <div class="friend__photo-wrap">
            <img class="friend__photo" src="{{photo_100}}">
        </div>
        <div class="friend__name">{{first_name}} {{last_name}}</div>
        <button class="friend__add">
        </button>
    </li>
{{/each}}
