<script type="text/javascript" src="https://vk.com/js/api/openapi.js?122"></script>

<div class="filter">
    <div class="filter__logo">
        <img src="./images/logo.png" alt="logo" class="filter__img">
    </div>
    <button class="filter__new" id="loadFriends">Создать список друзей</button>
    <div class="filter__popup">
        <div class="filter__main">
            <h2 class="filter__heading">Выберите друзей</h2>
            <button class="filter__close">
            </button>
            <div class="filter__search">
                <input type="text" class="filter__input" placeholder="Начните вводить имя друга">
            </div>
            <div class="filter__search">
                <input type="text" class="filter__input" placeholder="Название">
            </div>
            <div class="filter__block">
                <h3 class="filter__list-heading">Ваши друзья</h3>
                <ul class="filter__list" id="friends">
                </ul>
            </div>
            <div class="filter__block">
                <h3 class="filter__list-heading">Друзья в списке</h3>
                <ul class="filter__list" id="selectedFriends">
                </ul>
            </div>
            <div class="filter__bottom">
                <button class="filter__save">Сохранить</button>
            </div>
        </div>
    </div>
</div>
